<div class="admin-link">
    
    <a asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
    <a asp-area="Admin" asp-controller="Addition" asp-action="Index">Additions</a>
</div>