<a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modal-cart">корзина</a>
<div class="modal fade" id="modal-cart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  text-white" style=" background-color: #1d1d29;">
                <h5 class="modal-title" id="exampleModalLabel">Коризина</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="table_basket">
                    <thead>
                        <tr>
                            <td align="center"></td>
                            <td align="center"><b>Наименование</b></td>
                            <td align="center"><b>Количество</b></td>
                            <td align="center"><b>Цена за единицу</b></td>
                            <td align="center"><b>Итого</b></td>
                            <td align="center"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="right" colspan="5">
                                <div class="total_price">Всего: руб.</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-buttons">
                    <button type="button" class=" custom-button" data-bs-dismiss="modal">Продолжить покупки</button>
                    <button type="submit" class=" custom-button">Перейти к оплате</button>
                </div>
            </div>
        </div>
    </div>
</div>