<!-- ======= Footer ======= -->
<div class="footer-top">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-3 col-md-6">
                <div class="footer-info">
                    <h3>Coffe store</h3>
                    <p>
                        Улица Островского 777<br>
                        Нижниый Новгород, Россия<br><br>
                        <strong>Phone:</strong> +79991211337<br>
                        <strong>Email:</strong> info@example.com<br>
                    </p>
                    <div class="social-links mt-3" style="font-family:Arial,sans-serif">
                        <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#" class="vk"><i class="fa-brands fa-vk"></i></a>
                        <a href="#" class="telegram"><i class="fa-brands fa-telegram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 footer-links">
                <h4>Меню</h4>
                <ul>
                    <li>
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                    </li>
                    <li><a class="nav-link scrollto" href="/Home/Index#about">О нас</a></li>
                    <li><a class="nav-link" asp-area="" asp-controller="Catalog" asp-action="Catalog">Меню</a></li>
                    <li><a class="nav-link scrollto" href="/Home/Index#specials">Виды кофе</a></li>
                    <li><a class="nav-link scrollto" href="/Home/Index#chefs">Сотрудники</a></li>
                    <li><a class="nav-link scrollto" href="/Home/Index#contact">Как нас найти?</a></li>

                </ul>
            </div>
            <div class="col-lg-4 col-md-6 footer-newsletter">
                <h4>Последние новости</h4>
                <p>Укажите вашу почту.</p>
                <form action="" method="post">
                    <input type="email" name="email"><input type="submit" value="Подписаться">
                </form>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="copyright">
        &copy; Copyright <strong><span>Restaurantly</span></strong>. All Rights Reserved
    </div>
</div>
<!-- End Footer -->
