@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1>Личный кабинет</h1>

<div>
    <h2>Здесь вы можете изменить ваш контактный номер</h2>
    <hr />
    <div class="row">
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/AddToShopingCart.js" asp-append-version="true"></script>
    <script src="~/js/OpenProductCard.js" asp-append-version="true"></script>
    <script src="~/js/BoostrapAlerts.js" asp-append-version="true"></script>
    <script src="~/js/Cart.js" asp-append-version="true"></script>