@{
    ViewData["Title"] = "Home Page";
}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Добро пожаловать в <span>Coffe store</span></h1>
                <h2>Для оформления заказа перейдите в раздел нашего меню.</h2>

                <div class="btns">
                    <a class="btn-menu animated fadeInUp scrollto" style="font-size:40px"
                       asp-area="" asp-controller="Catalog" asp-action="Catalog">Меню</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Hero -->
<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                    <div class="about-img">
                        <img src="~/images/car2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>НАША ИСТОРИЯ</h3>
                    <p class="fst-italic">
                        На сегодняшний день сеть кофеен «Coffe store» — одна из крупнейших и самых динамично развивающихся компаний
                        в сфере ресторанного бизнеса в Москве, регионах России и странах СНГ.
                    </p>
                    <ul>
                        <li>
                            <i class="bi bi-check-circle"></i>
                            История кофеен «Coffe store» восходит корнями к легендарному кафе «Coffe store» у метро Октябрьская —
                            единственном столичном месте, где на протяжении нескольких десятилетий гостям предлагали изысканные лакомства и
                            напитки: горячий шоколад и легендарные блинчики с начинкой из шоколада, изюма и орехов.
                        </li>
                    </ul>
                    <p>
                        В 2006 году началось активное развитие сети в регионах.
                        Сегодня «Coffe store» успешно работает во многих городах России: Санкт-Петербурге, Екатеринбурге, Казани,
                        Нижнем Новгороде, Новосибирске, Уфе, Сочи, Краснодаре, Астрахани, Благовещенске, Брянске, Курске, Иркутске, Тюмени,
                        Воронеже, Хабаровске и других городах.

                        Сегодня над развитием сети трудятся настоящие профессионалы своего дела, опытные шефы, отвечающие за разработку
                        и усовершенствование меню, соответствующего современным трендам и запросам гостей, координирующие производственный
                        процесс, занимающиеся внедрением инноваций в обучение персонала кофеен и, конечно, создающие самые вкусные
                        и полезные блюда для гостей «Coffe store»; а также кураторы по разработке напитков, кофейных смесей,
                        контролирующие качества обжарки, обучение и развитие сотрудников, которые каждый день готовят самый вкусный кофе
                        для гостей «Coffe store» по всей стране.
                    </p>
                </div>
            </div>

        </div>
    </section>
    <!-- End About Section -->
    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Виды кофе</h2>
                <p>Виды кофе</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Эспрессо</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Капучино</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Ристретто</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Макиато</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Раф</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Эспрессо </h3>
                                    <p>Напиток, который получают, пропуская горячую воду через фильтр с молотым кофе под высоким давлением. В классическом рецепте на 30 мл. воды необходимо 7 г кофе. Получившийся крепкий, ароматный и плотный кофе можно использовать в качестве основы для других рецептов.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/images/products/экпресссо.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Капучино</h3>
                                    <p>Эспрессо, с добавлением молока, взбитого в ровную красивую пенку. Молоко, взбитое капучинатором, в этом случается добавляется в кофе. Если у вас дома нет капучинатора, можно взбить молоко с помощью обычного френч-пресса.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/images/products/капучино.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Ристретто</h3>
                                    <p>Вид густого и насыщенного эспрессо, при котором на стандартные 7 г кофе используется 15-20 мл. воды.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/images/products/американо.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Макиато</h3>
                                    <p>Эспрессо с молоком, причем молоко не вливается, а вкладывается ложкой, чтобы образовать круг с кофейной каемкой.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/images/products/латте.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-5">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Раф</h3>
                                    <p>Кофе, изобретенный в Москве и получивший свое имя в честь клиента одной из столичных кофеен – Рафаэля. Помимо все того же эспрессо, в составе жидкие сливки и сахар (часто заменяется сиропами). Видеорецепт лавандового рафа на кокосовом молоке.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/images/products/raf.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Specials Section -->
    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Сотрудники</h2>
                <p>Сотрудники</p>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="zoom-in" data-aos-delay="100">
                        <img src="~/images/1_emp.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Александр Кучев </h4>
                                <span>Бариста</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="fa-brands fa-instagram"></i></a>
                                <a href=""><i class="fa-brands fa-vk"></i></a>
                                <a href=""><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="zoom-in" data-aos-delay="200">
                        <img src="~/images/4_emp.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Андрей Головин</h4>
                                <span>Бармен</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="fa-brands fa-instagram"></i></a>
                                <a href=""><i class="fa-brands fa-vk"></i></a>
                                <a href=""><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="zoom-in" data-aos-delay="300">
                        <img src="~/images/3_emp.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Денис Лидеров</h4>
                                <span>Администратор</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="fa-brands fa-instagram"></i></a>
                                <a href=""><i class="fa-brands fa-vk"></i></a>
                                <a href=""><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Chefs Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Как нас найти?</h2>
                <p>Как нас найти?</p>
            </div>
        </div>

        <div data-aos="fade-up">
            <iframe style="border:0; width: 100%; height: 700px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1106.7792166154782!2d43.98816197692576!3d56.30293483733251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4151d5a4266a847d%3A0x7bc4454022128e81!2z0KLQtdGF0L3QuNC60YPQvCAx!5e0!3m2!1sru!2sbg!4v1655165409810!5m2!1sru!2sbg"
                    frameborder="0" allowfullscreen></iframe>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
<div class="modal fade" id="UserLoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <partial name="_UserLoginPartial" />
</div>
<div class="modal fade" id="UserRegistrationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <partial name="_UserRegistrationPartial" />
</div>
