<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Coffee_store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <!-- ======= Header ======= -->
        <header id="header" class="d-flex align-items-center mb-5">
            <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

                <h1 class="logo me-auto me-lg-0">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Coffee_store</a>
                </h1>

                <nav id="navbar" class="navbar order-last order-lg-0">
                    <ul>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">Категории</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Addition" asp-action="Index">Добавки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">Заказы</a>
                        </li>
                    </ul>
                </nav>
                <partial name="_LoginPartial" />
                <!-- .navbar -->
            </div>
        </header>
        <!-- End Header -->
        <!-- ======= Header ======= -->

        <main role="main" class="main-cointainer pb-3" style="background-color:#1d1d29;">
            @RenderBody()
        </main>
        <footer id="footer" class="footer mt-auto py-3 text-muted">
            <partial name="_FooterPartial" />
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/AddToShopingCart.js" asp-append-version="true"></script>
    <script src="~/js/OpenProductCard.js" asp-append-version="true"></script>
    <script src="~/js/BoostrapAlerts.js" asp-append-version="true"></script>
    <script src="~/js/Cart.js" asp-append-version="true"></script>
    <script src="~/js/UserRegistration.js" asp-append-version="true"></script>
    <script src="~/js/UserLogIn.js" asp-append-version="true"></script>
    <script src="~/js/BoostrapAlerts.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
